@import './src/resources/assets/styles/variables';

header{
    background-color: $darker;
    z-index: 99;
    padding-top: 15px !important;

    #address-display {
        color: #b0b3b8;
        border: 1px solid #b0b3b8;
        text-align: center;
        max-width: 200px;
    }

    #logo{
        max-width: 200px;
        padding: 10px;
        color: $yellow !important; 
    }
}